{% extends 'base.html' %}
{% block title %}
Topp 10 lista över lotterier med de bästa jackpottarna
{% endblock %}


{% block extra_head %}
<meta name="description" content="Vill du spela lotto med stora jackpottar? Läs om de topp 10 online lotterierna
som har de bästa jackpottarna. Jackpottrekorden ligger på över 1,5 miljarder $.">
{% endblock %}


{% block content %}
{% load static %}

<div class="row">
	<div class="col-lg-2">
		<p> </p>
	</div>

	<div class="col-lg-8">

		<div class="welcome mt-3">
			<div class="welcome_content">
				<h1 style="color:white;"> Högsta jackpottar </h1>
				<p class="welcome_text">
					Man kan gradera ett lotto efter dess jackpottar, vinnarodds, kostnad för spelrader och så vidare. Men
					de flesta spelare tittar nog på hur stora jackpottarna är. Här nedan finns en lista över de 10 lotterier,
					som LottoTellus rekommenderar om du är ute efter höga jackpottar. De absolut två största
					lotterierna är amerikanska US Powerball och Mega Millions. EuroMillions och SuperEnalotto är två
					europeiska giganter på lottomarknaden. Även La Primiva är ett europeiskt lotto som brukar ha
					jackpottar på flera miljoner euro euro. Samtliga dessa lotterier kan du spela online via Lottoland
					eller <a href="https://www.multilotto.com/se?ml=myk4d7g6" target="_blank" style="color:white; text-decoration:underline;">Multilotto</a>.
				</p>
			</div>
		</div>

		<div class="lottery_list">
			{% for lottery in topp_10 %}
				<div class="lottery_box">
					<div class="row">

						<div class="col-lg-1">
							{% if  lottery.lottery.logo %}
							<img src="{{  lottery.lottery.logo.url }}" id="big_rank_list_logo" class="center">
							{% endif %}
						</div>

						<div class="col-lg-10" >

							<div class="row text_center mt-2">

								<ul class="col-sm-4 no_bullets">
									<b> Jackpot nu </b>
									<li> {{ lottery.lottery.jackpot }} </li>
								</ul>
						
								<ul class="col-sm-4 no_bullets">
									<b>Dragning</b>
									<li>{{ lottery.lottery.dragnings_datum }}</li>
								</ul>

								<ul class="col-sm-4 no_bullets">
									<b>Jackpotodds</b>
									<li> {{ lottery.lottery.odds }}</li>
								</ul>
							</div>
							<p class="mt-2 ml-5"> {{ lottery.lottery.intro_content|safe }} <a href="{% url 'website:lottery_detail' slug=lottery.lottery.slug  %}"> Läs mer... </a></p>
						</div>
					</div>
					<div class="lottery_price_tag">
						{{  lottery.lottery.pris_biljett }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="col-lg-2">
		<div class="side_banner_for_lottery_list">
			<iframe  width="300" height="600" src="https://s3-eu-west-1.amazonaws.com/multilotto.ads/lottery-no-bonus-skyscraper-2/se/index.html?ml=s1s5n9r6&adid=70691" frameborder="0"></iframe>
		</div>	
	</div>
</div>

{% include "footer.html" %}
{% endblock %}



