
{% extends 'base.html' %}
{% block title %}
Afrika och Asien
{% endblock %}

{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-2">
		<p> </p>
	</div>

	<div class="col-lg-8">

		<div class="welcome mt-3">
			<div class="welcome_content">
				<h1 style="color:white;"> Lotterier från Afrika och Asien </h1>
				<p class="welcome_text">
					Det är lätt att bli lite hemmablind, men faktum är att man inte behöver åka till andra sidan jorden för
					att leta efter lotterier med höga jackpottar. I Europa finns många lotterier med jackpottar på tiotals
					miljoner euro. För att bara nämna två, så har EuroMillions och SuperEnalotto jackpottar som skulle
					kunna uppfylla en vinnares alla drömmar livet ut. I Europa finns även mindre lotterier med
					vinnarvänliga odds, som Mini Lotto, som har dagliga dragningar. Man får inte glömma de nordiska
					lotterierna som t.ex. det finska och norska lottot. Spelare på dessa lotterier har fått se sina
					bankböcker få sjusiffriga belopp efter en jackpotvinst.
				</p>
			</div>
		</div>

		<div class="lottery_list">

			{% for lottery in afrika_list %}
				<div class="lottery_box">
					<div class="row">

						<div class="col-lg-1">
							{% if lottery.logo %}
							<img src="{{ lottery.logo.url }}" id="big_rank_list_logo" class="center">
							{% endif %}
						</div>

						<div class="col-lg-10" >

							<div class="row text_center mt-2">

								<ul class="col-sm-4 no_bullets">
									<b> Akutell jackpot </b>
									<li> {{ lottery.jackpot }} </li>
								</ul>
						
								<ul class="col-sm-4 no_bullets">
									<b>Dragning</b>
									<li>{{  lottery.dragnings_datum }}</li>
								</ul>

								<ul class="col-sm-4 no_bullets">
									<b>Jackpotodds</b>
									<li> {{  lottery.odds }}</li>
								</ul>			
							</div>
							<p class="mt-2 ml-5"> {{  lottery.intro_content }} <a href="{% url 'website:lottery_detail' slug=lottery.slug  %}"> Läs mer... </a></p>
						</div>

					</div>
					<div class="lottery_price_tag">
						{{  lottery.pris_biljett }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
		
	<div class="col-lg-2">
	</div>
</div>

{% include "footer.html" %}
{% endblock %}








Det är lätt att bli lite hemmablind, men faktum är att man inte behöver åka till andra sidan jorden för
att leta efter lotterier med höga jackpottar. I Europa finns många lotterier med jackpottar på tiotals
miljoner euro. För att bara nämna två, så har EuroMillions och SuperEnalotto jackpottar som skulle
kunna uppfylla en vinnares alla drömmar livet ut. I Europa finns även mindre lotterier med
vinnarvänliga odds, som Mini Lotto, som har dagliga dragningar. Man får inte glömma de nordiska
lotterierna som t.ex. det finska och norska lottot. Spelare på dessa lotterier har fått se sina
bankböcker få sjusiffriga belopp efter en jackpotvinst.