{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-1">
		<p> </p>
	</div>

	<div class="col-lg-8">


		<div class="page_wrapper">
			<div class="white_article_papper mt-3">
				<div class="content_wrapper">

					<div class="faq_box">
						<h1>  Roligt att du vill lasa mera av vora artiklar</h1>
						<p> Innan du börjar spela lotto online måste du se till att lotteritjänsten har svensk spellicens. Lottoland
						är en lotteritjänst online som är säker och de har en svensk spellicens.
						<p>
					</div>

					<div class="mini_levrantor_text_box">
						<label > Lotteri Levrantör </label><br>
						<a href="#"> MultiLotto </a>
						<a href="#"> LottoLand </a>
					</div>

					<div class="row">

						<div class="col-sm-4">
							<a href="http://www.lottotellus.com/faq-fragor/">  Här finner du svar på de vanligast ställda frågorna om hur man spelar lotto online.   </a>
						</div>

						<div class="col-sm-4">
							<a href="http://www.lottotellus.com/top-jackpottar/"> Undrar du vilket lotto som är bäst att spela på?? </a>
						</div>

						<div class="col-sm-4">
							<a href="http://www.lottotellus.com/utbetalning/">Utbetalning av US Powerball, Mega Millions och SuperEnalotto jackpott vinst </a>
						</div>

					</div>

					<div class="row mt-4">

						{% for winner in winners %}
						<div class="col-sm-4">

							<div class="winner_mini_box  mt-2">
								<div class="winner_mini_box_content">
									<a href="{% url 'website:winner_page' slug=winner.slug  %}" >
										<h5> {{ winner.welcome_title }} </h5>
								</div>
								{% if winner.profil_bild %}
									<img class="center" src="{{winner.profil_bild.url}}">
								{% endif %}
									</a>
								<hr>
							</div>
						</div>
						{% endfor %}
					</div>


					
				</div>
			</div>

		</div>
	</div>

	<div class="col-lg-3">
		<div class="page_wrapper">



				<form class="monthly_subscriber_form" method="post" enctype="multipart/form-data">
	    			{% csrf_token %}
	    			<p> Jag vill få ”LottoTellus månadsbrev” en gång i månaden.</p>

	    			{{form}}

	    			<input type='submit' value="Skicka">
				</form>


					{% for supplier in lottery_supplier %}
						<div class="levrantor_box">
							<label class="levrantor_box_label"> Lotteri Levrantör </label>
							<div class="levrantor_content">
								<img src="{{ supplier.logo.url }}">
								<button class="levrantor_button"> Till Spelbolaget </button>
								<h5 class="mt-1"> {{ supplier.namn }} </h5>
								<p> {{ supplier.content_box_1 }} </p>
								<p>{{ supplier.content_box_2 }}  </p>
								<a href="http://www.lottotellus.com/spela-ansvarsfullt/" style="color:black;">Spela ansvarsfullt</a> | <a href="https://www.spelpaus.se/" target="_blank" style="color:black;"> Stödlinjen.se </a> | +18 |<a href="https://www.lottoland.se/allmannakampanjvillkor?" target="_blank" style="color:black;"> Villkor & regler gäller </a>
							</div>
						</div>

					{% endfor %}

			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}
{% endblock %}





