{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-1">
		<p> </p>
	</div>

	<div class="col-lg-8">


		<div class="page_wrapper">
			<div class="white_article_papper mt-3">
				<div class="content_wrapper">

					<div class="faq_box">
						<h1> Artiklar från lottovärlden </h1>
						<p> Här nedan kan du läsa om vinnare som har vunnit jackpottar och vad de har gjort med pengarna. De
							klart största vinsterna har vunnits i US Powerball och Mega Millions som är lotterivärldens absolut
							största lotterier. När du har läst vinnarnas berättelser kanske du också vill pröva turen och det kan
							du göra på Lottoland och Multilotto som är lotteritjänster online. De båda har svensk spellicens så
							det är tryggt att spela via dem.
						<p>
					</div>


						<div class="links_article">
			
								<a href="http://www.lottotellus.com/faq-fragor/">  Här finner du svar på de vanligast ställda frågorna om hur man spelar lotto online.   </a>
	

								<a href="http://www.lottotellus.com/top-jackpottar/"> Undrar du vilket lotto som är bäst att spela på? </a>



								<a href="http://www.lottotellus.com/utbetalning/">Utbetalning av US Powerball, Mega Millions och SuperEnalotto jackpott vinst </a>

						</div>



					<div class="row mt-4">
						{% for winner in winners %}
						<div class="col-sm-4">

							<div class="winner_mini_box  mt-2">
								<div class="winner_mini_box_content">
									<a href="{% url 'website:winner_page' slug=winner.slug  %}" >
									<h5> {{ winner.welcome_title }} </h5>
								</div>
								{% if winner.profil_bild %}
									<img class="center" src="{{winner.profil_bild.url}}">
								{% endif %}
									</a>
								<hr>
							</div>
						</div>
						{% endfor %}
						<div class="faq_box">
							<h3> Jackpotvinnare som är utfattiga idag </h3>
							<p> Att vinna en lottojackpot är allas dröm. Men vad gör de som har vunnit stora jackpottar? Är de
								lyckliga för resten av sina liv? Här nedan kan du läsa om tre öden där inget blev som tänkt efter
								storvinsten.
							</p>
						</div>

						{% for loser in losers %}
						<div class="col-sm-4">

							<div class="winner_mini_box  mt-2">
								<div class="winner_mini_box_content">
									<a href="{% url 'website:loser_page' slug=loser.slug %}" >
										<h5> {{ loser.welcome_title }} </h5>
								</div>
								{% if loser.profil_bild %}
									<img class="center" src="{{loser.profil_bild.url}}">
								{% endif %}
									</a>
								<hr>
							</div>
						</div>
						{% endfor %}
						<span>
							Ibland kan för mycket pengar ställa till det, som i exemplen ovan. Det tragiska är att det finns
							många fler som har vunnit stora jackpottar och sedan inte kunnat hantera vinsterna. Om du
							spelar <a href="http://www.lottotellus.com/lottery-us-Powerball/">US Powerball</a>, <a href="http://www.lottotellus.com/lottery-mega-millions/">Mega Millions</a>, <a href="http://www.lottotellus.com/lottery-euro-millions/">EuroMillions</a>, <a href="http://www.lottotellus.com/lottery-superenalotto/">SuperEnalotto</a>, <a href="http://www.lottotellus.com/lottery-la-primitiva/">La Primitiva</a> eller ett annat
							lotteri med riktigt stora jackpottar och har turen att vinna en stor jackpot - ta omgående hjälp av
							auktoriserade finansiella rådgivare så att du kan njuta av pengarna livet ut!
						</span>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="col-lg-3">
		<div class="page_wrapper">



				<form class="monthly_subscriber_form" method="post" enctype="multipart/form-data">
	    			{% csrf_token %}
	    			<p> Jag vill få ”LottoTellus månadsbrev” en gång i månaden.</p>

	    			{{form}}

	    			<input type='submit' value="Skicka">
				</form>


					{% for supplier in lottery_supplier %}
						<div class="levrantor_box">
							<label class="levrantor_box_label"> Lotteritjänst </label>
							<div class="levrantor_content">
								<img src="{{ supplier.logo.url }}">
								<button class="levrantor_button"> Till {{ supplier.namn }} </button>
								<h5 class="mt-1"> {{ supplier.namn }} </h5>
								<p> {{ supplier.content_box_1 }} </p>
								<p>{{ supplier.content_box_2 }}  </p>
								<a href="http://www.lottotellus.com/spela-ansvarsfullt/" style="color:black;">Spela ansvarsfullt</a> | <a href="https://www.spelpaus.se/" target="_blank" style="color:black;"> Stödlinjen.se </a> | +18 |<a href="https://www.lottoland.se/allmannakampanjvillkor?" target="_blank" style="color:black;"> Villkor & regler gäller </a>
							</div>
						</div>

					{% endfor %}

			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}
{% endblock %}





