{% extends 'base.html' %}
{% block content %} 


<div class="wrapper">
		
			<div class="welcome mt-3">

				<div class="welcome_content">
					<h4> Amerika </h4>
					<p class="welcome_text">
						I Amerika finns det en uppsjö av både små och stora lotterier och här kan du läsa om de populäraste lotterierna. När du har bekantat dig med dem är du säkert redo för att pröva lyckan och kanske finner du en egen favorit bland dem.		
					</p>
				</div>
			
			</div>




					{% for lottery in amerika_list %}
						<div class="lottery_box mt-2">
							<div class="row">
								<div class="col-lg-1">
									<img src="{{ lottery.logo.url }}" id="lottery_logo" class="center">
								</div>
								<div class="col-lg-9" >
									<div class="row">
										<ul class="col-sm-4">
											<b> Jackpot </b>
											<li> {{ lottery.jackpot }} </li>
							
										</ul>
								
										<ul class="col-sm-4">
											<b class="margin_0">Dragning</b>
											<p>{{  lottery.dragnings_datum }}</p>
										</ul>



										<ul class="col-sm-4">
											<b>Jackpotodds</b>
											<li> {{  lottery.odds }}</li>
										</ul>
							</div>

										<ul class="test">
											<li >
												{{  lottery.intro_content }}
												<label style="color:blue;"> <a href="{% url 'website:lottery_page' lottery_id=lottery.id  %}"> Läs mer.. </a> </label>
											</li>
										</ul>
									
								</div>

								<div class="col-lg-2">
									<button class="ticket_button mt-4"><a href="https://www.powerball.com/" target="blank">  Satsa nu </a></button>
								</div>
							</div>
						</div>
						<br>
					{% endfor %}

		</div>
	</div>
{%endblock%}

