{% extends 'base.html' %}
{% block title %}
 Amrikanska lotter
{% endblock %}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-2">
		<p> </p>
	</div>

	<div class="col-lg-8">

		<div class="welcome mt-3">
			<div class="welcome_content">
				<h1 style="color:white;"> Lotterier från USA </h1>
				<p class="welcome_text">
					De flesta förknippar USA med att allt är stort där och det gäller inte minst lottovinster. Två av
					världens största lottojackpottar kommer just från USA och var en bra bit över en miljard dollar, US
					Powerball 1,586 miljarder $, som vanns 2016 och MegaMillions 1,537 miljarder $, som vanns
					2016. Det är bara en tidsfråga när nästa nya jackpotrekord slås. De flesta amerikanska lotterierna
					har jackpotvinster på fler miljoner dollar. En jackpotvinst på t.ex. 7 miljoner $ låter kanske inte
					mycket, men i svenska kronor är det cirka 50 miljoner beroende på växlingskursen. Här nedan kan
					du bekanta dig med några av de populäraste lotterierna från USA.
				</p>
			</div>
		</div>

		<div class="lottery_list">
			{% for lottery in amerika_list %}
				<div class="lottery_box">
					<div class="row">

						<div class="col-lg-1">
							{% if lottery.logo %}
							<img src="{{ lottery.logo.url }}" id="big_rank_list_logo" class="center">
							{% endif %}
						</div>

						<div class="col-lg-10" >

							<div class="row text_center mt-2">

								<ul class="col-sm-4 no_bullets">
									<b> Rekordjackpot </b>
									<li> {{ lottery.jackpot }} </li>
								</ul>
						
								<ul class="col-sm-4 no_bullets">
									<b>Dragning</b>
									<li>{{  lottery.dragnings_datum }}</li>
								</ul>

								<ul class="col-sm-4 no_bullets">
									<b>Jackpotodds</b>
									<li> {{  lottery.odds }}</li>
								</ul>
							</div>
							<p class="mt-2 ml-5"> {{  lottery.intro_content }} <a href="{% url 'website:lottery_detail' slug=lottery.slug  %}"> Läs mer... </a></p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
		
	<div class="col-lg-2">
	</div>
</div>

{% include "footer.html" %}
{% endblock %}


