{% extends 'base.html' %}
{% block content %}
{% load static %}



	<div class="anvandarvillkor_page mt-5">
		<div class="index_content">
			<div class="welcome_text">

				<h1> Användarvillkor </h1>
				<br>
				<h3> Informationssida </h3>
				<p class="mt-2">
				LottoTellus.se är en fristående informationstjänst och är inte ansvarig för lotteritjänsternas spel.
				<br>
				På sajten ges information om olika online lotterier och även reklam görs för dessa. LottoTellus.se
				äger inte dessa spel. Syftet är enbart att ge så tillförlitlig och aktuell information som möjligt.
				LottoTellus.se reserverar sig för eventuella felaktigheter i innehållet och förbehåller rätten att
				ändra på information utan föregående förvarning. Inom lotterivärlden kan regler ändras snabbt och
				därför garanteras inte aktualiteten eller tillförlitligheten på webbplatsen. Tredje part kan ändra
				innehåll och regler och LottoTellus.se kan inte hållas ansvarig för dessa. Kontrollera därför alltid
				<br>
				regler och bestämmelser med lotteritjänsten.
				Innehållet på LottoTellus webbplats är copyright skyddat och får inte kopieras eller spridas utan
				tillstånd.

				</p>


				<h3> Utbetalning av US Powerball, Mega Millions och SuperEnalotto jackpott vinst </h3>
				<p>
					Utbetalning av US Powerball, Mega Millions och SuperEnalotto jackpott vinsten kan ske på två
					sätt; årliga utbetalningar under 30 år, s.k. livränta alternativet eller i en klumpsumma. Om vinsten
					betalas ut under 30 år görs den första utbetalningen ut så snart som möjligt efter dragningen och de
					resterande 29 betalningarna med ett årsintervaller. För varje år stiger utbetalningen med några
					procent. Om vinsten betalas ut i en klumpsumma är vinsten efter reserverade rabatter diskonterade.
					Diskonteringsräntan är 40%, det vill säga klumpsumman är 60% av det årliga livränta-värdet. EU
					Lotto beslutar om hur jackpott vinsten utbetalas.

				</p>

				<h3> 38% minskning av jackpott vinst </h3>
				<p>
					EU Lotto gör avdrag på 38% på vinsterna i de tre högsta priskategorierna i Mega Millions, US
					Powerball och SuperEnalotto, eftersom spelare ska ha liknande ekonomisk position som om de hade
					spelat det underliggande lotteriet.

				</p>

				<h3> Spela ansvarsfullt </h3>
				<p>
					Spela aldrig för mer pengar än du har råd att avvara! Om du misstänker att du har spelproblem läs
					vidare i Spela ansvarsfullt! LottoTellus.se kan inte hållas ansvarigt för pengar överförda till
					lotteritjänster eller för satsade pengar.
					<br>
					Om du har frågor, vänligen <a href="http://www.lottotellus.se/kontakta-oss/">kontakta oss!</a>
				</p>
			</div>
		</div>
	</div>



{% include "footer.html" %}
{% endblock %}


