
{% extends 'base.html' %}
{% block title %}
Asiatiska lotterier
{% endblock %}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-2">
		<p> </p>
	</div>

	<div class="col-lg-8">

		<div class="welcome mt-3">
			<div class="welcome_content">
				<h1> Lotterier från Asien </h1>
				<p class="welcome_text">
					Asiaterna älskar också att spela lotto, men tyvärr finns det endast ett lotteri som lotterifans världen
					över kan spela online; Hong Kong Mark Six Lotto. Lotteriet är mycket populärt i hemlandet Hong
					Kong. Jackpottarna ligger, om man räknar i svensk valuta, på flera miljoner kronor. Det är lätt att
					tro att oddsen måste vara höga, men jämfört med lotterier, som har liknande jackpottar är oddsen
					schyssta. Det ska bli spännande att se när fler asiatiska länder öppnar upp sina lotterier för
					lottospelare på nätet.
				</p>
			</div>
		</div>

		<div class="lottery_list">
			{% for lottery in asien_list %}
				<div class="lottery_box">
					<div class="row">

						<div class="col-lg-1">
							{% if lottery.logo %}
							<img src="{{ lottery.logo.url }}" id="big_rank_list_logo" class="center">
							{% endif %}
						</div>

						<div class="col-lg-10" >

							<div class="row text_center mt-2">

								<ul class="col-sm-4 no_bullets">
									<b> Jackpot </b>
									<li> {{ lottery.jackpot }} </li>
								</ul>
						
								<ul class="col-sm-4 no_bullets">
									<b>Dragning</b>
									<li>{{  lottery.dragnings_datum }}</li>
								</ul>

								<ul class="col-sm-4 no_bullets">
									<b>Jackpotodds</b>
									<li> {{  lottery.odds }}</li>
								</ul>
							</div>
							<p class="mt-2 ml-5"> {{  lottery.intro_content }} <a href="{% url 'website:lottery_detail' slug=lottery.slug  %}"> Läs mer.. </a></p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
		
	<div class="col-lg-2">
	</div>
</div>

{% include "footer.html" %}
{% endblock %}


