
{% extends 'base.html' %}
{% block content %} 


	<div class="row">

		<div class="col-sm-1">
		</div>

		<div class="col-sm-10">
<a href="#"> Lottery page </a>
			<div class="welcome mt-3">

				<div class="welcome_content">
					<h4> What is the best Lottery to play? </h4>
					<p>
						Wondering what the best lottery to play is? With so many options to choose from nowadays thanks to the many online lottery sites that provide access to dozens of games from around the world, it can be hard to know what makes one lottery better than another. Luckily, we've carefully researched the most popular, fairest, and cheapest games that exist so that you don't have to! We've looked at each lottery jackpot, odds of winning the lottery, ticket prices, how easy the game mechanics are to grasp, whether the game has any caps on its jackpots or rollovers, whether winnings are taxed, and what unique features it has. Ultimately, we look at the value and fun that each game offers and give our verdict on whether we think it's worth playing overall. And on that note, we wish you the best of luck!
					</p>
				</div>
			
			</div>



				<div class="lottery_page">
					{% for article in articles %}
						<div class="lottery_box">
							<div class="row">

								<div class="col-sm-1">
									<img src="{{ article.lottery.logo.url }}" id="lottery_logo">
								</div>
{{article.lottery_id}}
								<div class="col-sm-9" >
									<div class="row">
										<ul class="mr-5">
											<li><img src="{{ article.lottery.flaga.url }}" id="mini_flaga"> <h4 class="mr-3" style="display:inline;"><b style="font-style:italic;">{{ article.lottery.name_of_lottery}}</b></h4></li>
											<li><a href="{% url 'website:lottery_page' lottery_id=article.lottery_id %}"> Read the full review</a></li>
										</ul>
								
										<ul class="mr-5">
											<li><b>{{ article.lottery.jackpot }}</b></li>
											<li> check the winning numbers</li>
										</ul>


										<ul class="mr-5">
											<li><b>{{  article.lottery.dragnings_datum }}</b></li>
											<label> Dragnings Datum </label>
										</ul>
										
										<ul class="mr-5">
											<li><b>Odds</b></li>
											<li> {{  article.lottery.odds }}</li>
										</ul>
							

										<ul>
											<li>
												{{  article.lottery.intro_content }}
											</li>
										</ul>
									</div>
								</div>

								<div class="right">
									<button class="ticket_button"><a href="https://www.powerball.com/" target="blank">  Buy lottery tickets </a></button>
									<p class="mt-4"><b> Price range: {{  article.lottery.price_range }} </b></p>
								</div>
							</div>
						</div>
						<br>
					{% endfor %}
				</div>
		</div>
	</div>
{%endblock%}
