{% extends 'base.html' %}
{% block content %} 





			<div class="welcome mt-2">

				<div class="welcome_content">
					<h4> Här nedan finner du svar på de vanligast ställda frågorna om hur man spelar lotto online. </h4>
					<p>
						Man kan gradera ett lotteri efter dess jackpottar, vinnarodds, pris för spelrader, skatter och så vidare.
						Många spelare tittar på jackpottarnas storlek eftersom de drömmer om att vinna en hisnande jackpot
						för att sedan uppfylla alla sina drömmar. Här nedan kan du se en lista på de 10 lotterier som brukar
						ha de högsta jackpottarna. Överst är det lotteri som brukar ha de största jackpottarna och på andra
						plats det lotteri som brukar ha näst största jackpotten och så vidare.		
					</p>
				</div>
			
			</div>






						<div class="row">
							<div class="col-lg-9">
								<h3> Lotto på nätet </h3>

								<h5 class="mt-2"> Är det lagligt att spela lotto på nätet? </h5>
								<div class="faq_box">
									<p> Ja, det är lagligt att spela lotto online. </p>
								</div>

								<h5 class="mt-4"> Är det säkert att spela lotto på nätet? </h5>
								<div class="faq_box">
									<p>
										Innan du börjar spela lotto online måste du se till att lotteritjänsten har svensk spellicens. Lottoland
										är en lotteritjänst online som är säker och de har en svensk spellicens. 
									</p>
								</div>

								<h5 class="mt-4"> Varför är svensk spellicens viktig? </h5>
								<div class="faq_box">
									<p>
										Sverige fick en ny spellag den 1 januari 2019. Spelbolag som vill bedriva spel online i Sverige
										måste ha en spellicens. När du spelar med en lotteritjänst med svensk spellicens vet du att det är en
										trygg sida för den svenska pelinspektionen kontrollerar kontinuerligt så att allt går rätt till.
									</p>
								</div>

								<h5 class="mt-4"> Hur vet jag att lotteritjänsten har svensk spellicens? </h5>
								<div class="faq_box">
									<p> Spelbolag, som har fått svensk spellicens måste ha det skrivet högst upp på sin webbplats. </p>
								</div>
						
				
								<h3 class="mt-3"> Lotteribetting </h3>

								<h5 class="mt-2"> Vad är lotteribetting? </h5>
								<div class="faq_box">
									<p>
										När du bettar på lotteri spelar du på lotteriets utfall, slutresultat. Du börjar med att välja dina
										nummer, betalar för dina rader och sedan är du med i dragningen. Du får ingen officiell
										lottokupong, men du kan se all information om ditt spelköp på ditt spelkonto. 
									</p>
								</div>

								<h5 class="mt-4"> Varför lotteribetting? </h5>
								<div class="faq_box">
									<p> 
										Enligt den nya svenska spellagen, som trädde i kraft 1 januari 2019, tillåts endast betting på lotto
										online.
									</p>
								</div>

								<h5 class="mt-4"> Vem bestämmer vinsternas storlek? </h5>
								<div class="faq_box">
									<p> Vinsternas storlek motsvarar alltid det officiella lotteriets vinster i motsvarande priskategori. </p>
								</div>

								<h5 class="mt-4"> Vem betalar ut mina vinster? </h5>
								<div class="faq_box">
									<p> 
										Lotteritjänsten kan betala ut vinsten via två olika förfaranden. Om priset är litet kan vinsten betalas
										ut omgående med de pengar som man har fått in via försäljningen. För att kunna betala ut större
										vinster har lotteritjänsten vinstförsäkrat lotterierna. När någon vinner betalas vinsterna ut via dessa
										försäkringar.
									</p>
								</div>

								<h5 class="mt-4"> Kan jag vara säker på att mina vinster betalas ut? </h5>						
								<div class="faq_box">
									<p>
										Så länge du spelar via en lotterjänst som har svensk spellicens kan du vara trygg. Spelinspektionen
										kontrollerar så att allt går rätt till och att spelkunder behandlas enligt reglerna. Ett spelbolag som
										inte betalar ut vinster eller på annat sätt missköter sig blir av med spellicensen.
									</p>
								</div>
							</div>

							<div class="col-lg-3">
								<p> Put Commercial here</p>
							</div>
						</div>


{%endblock%}
