{% extends 'base.html' %}
{% block content %} 


	<div class="row">

		<div class="col-sm-1">
		</div>

		<div class="col-sm-10">
			<div class="welcome mt-3">

				<div class="welcome_content">
					<h4> Här nedan finner du svar på de vanligast ställda frågorna om hur man spelar lotto online. </h4>
					<p>
						Man kan gradera ett lotteri efter dess jackpottar, vinnarodds, pris för spelrader, skatter och så vidare.
						Många spelare tittar på jackpottarnas storlek eftersom de drömmer om att vinna en hisnande jackpot
						för att sedan uppfylla alla sina drömmar. Här nedan kan du se en lista på de 10 lotterier som brukar
						ha de högsta jackpottarna. Överst är det lotteri som brukar ha de största jackpottarna och på andra
						plats det lotteri som brukar ha näst största jackpotten och så vidare.		
					</p>
				</div>
			
			</div>



				<div class="lottery_page">

						<div class="lottery_box">

				</div>
		</div>
	</div>
{%endblock%}
