{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-1">
		<p> </p>
	</div>

	<div class="col-lg-8">
		<div class="page_wrapper">
			<div class="welcome mt-3">
				<div class="welcome_content">
					<h4> Här nedan finner du svar på de vanligast ställda frågorna om hur man spelar lotto online. 
					</h4>
					<p class="welcome_text">
						Man kan gradera ett lotteri efter dess jackpottar, vinnarodds, pris för spelrader, skatter och så vidare. Många spelare tittar på jackpottarnas storlek eftersom de drömmer om att vinna en hisnande jackpot för att sedan uppfylla alla sina drömmar. Här nedan kan du se en lista på de 10 lotterier som brukar ha de högsta jackpottarna. Överst är det lotteri som brukar ha de största jackpottarna och på andra plats det lotteri som brukar ha näst största jackpotten och så vidare. 
					</p>
				</div>
			</div>
			<div class="white_papper mt-2">
				<div class="content_wrapper">
					<h3> <b> Lotto på nätet </b></h3>
						<div class="faq_box">
							<h5 class=""> Är det lagligt att spela lotto på nätet? </h5>
							<p> Ja, det är lagligt att spela lotto online. </p>
						</div>

						<div class="faq_box">
							<h5 class="mt-3"> Är det säkert att spela lotto på nätet? </h5>
							<p>
								Innan du börjar spela lotto online måste du se till att lotteritjänsten har svensk spellicens. Lottoland
								är en lotteritjänst online som är säker och de har en svensk spellicens. 
							</p>
						</div>

						
						<div class="faq_box">
							<h5 class="mt-3"> Varför är svensk spellicens viktig? </h5>
							<p>
								Sverige fick en ny spellag den 1 januari 2019. Spelbolag som vill bedriva spel online i Sverige
								måste ha en spellicens. När du spelar med en lotteritjänst med svensk spellicens vet du att det är en
								trygg sida för den svenska pelinspektionen kontrollerar kontinuerligt så att allt går rätt till.
							</p>
						</div>

						
						<div class="faq_box">
							<h5 class="mt-3"> Hur vet jag att lotteritjänsten har svensk spellicens? </h5>
							<p> Spelbolag, som har fått svensk spellicens måste ha det skrivet högst upp på sin webbplats. </p>
						</div>
					

						<h3 class="mt-3"><b> Lotteribetting </b></h3>

		
						<div class="faq_box">
							<h5> Vad är lotteribetting? </h5>
							<p>
								När du bettar på lotteri spelar du på lotteriets utfall, slutresultat. Du börjar med att välja dina
								nummer, betalar för dina rader och sedan är du med i dragningen. Du får ingen officiell
								lottokupong, men du kan se all information om ditt spelköp på ditt spelkonto. 
							</p>
						</div>

						
						<div class="faq_box">
							<h5 class="mt-3"> Varför lotteribetting? </h5>
							<p> 
								Enligt den nya svenska spellagen, som trädde i kraft 1 januari 2019, tillåts endast betting på lotto
								online.
							</p>
						</div>

						
						<div class="faq_box">
							<h5 class="mt-3"> Vem bestämmer vinsternas storlek? </h5>
							<p> Vinsternas storlek motsvarar alltid det officiella lotteriets vinster i motsvarande priskategori. </p>
						</div>

						
						<div class="faq_box">
							<h5 class="mt-3"> Vem betalar ut mina vinster? </h5>
							<p> 
								Lotteritjänsten kan betala ut vinsten via två olika förfaranden. Om priset är litet kan vinsten betalas
								ut omgående med de pengar som man har fått in via försäljningen. För att kunna betala ut större
								vinster har lotteritjänsten vinstförsäkrat lotterierna. När någon vinner betalas vinsterna ut via dessa
								försäkringar.
							</p>
						</div>


										
						<div class="faq_box">
							<h5 class="mt-3"> Kan jag vara säker på att mina vinster betalas ut? </h5>	
							<p>
								Så länge du spelar via en lotterjänst som har svensk spellicens kan du vara trygg. Spelinspektionen
								kontrollerar så att allt går rätt till och att spelkunder behandlas enligt reglerna. Ett spelbolag som
								inte betalar ut vinster eller på annat sätt missköter sig blir av med spellicensen.
							</p>
						</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="page_wrapper">

			<div class="winner_mini_box  mt-2">

				<label class="winner_mini_box_label"> Vinnare </label>
				{% for winner in winners %}

					{% if winner.profil_bild %}
						<img class="center" src="{{winner.profil_bild.url}}">
					{% endif %}

					<div class="winner_mini_box_content">
						<a href="{% url 'website:winner_page' slug=winner.slug  %}" >
							<h5> {{ winner.welcome_title }} </h5>
							<p> {{ winner.welcome_text }}<label style="color:blue;"> Läs vidare..</label></p>
						</a>
					</div>
					<hr>
				{% endfor %}
				<center> <a href="{% url 'website:highest_jackpots'%}" style="color:#007bff;"> Läs fler artiklar</a></center>
				<hr>
			</div>

			<div class="white_papper_mini mt-2">
				<div class="list_of_links">
					<h4> Artiklar </h4>
					<ul>
						<li><a href="{% url 'website:highest_jackpots' %}">  Undrar du vilket lotto som är bäst att spela på??  </a></li><hr>
						<li><a href="{% url 'website:index' %}">  Spela lotto med vår lottoguide </a></li><hr>
						<li><a href="{% url 'website:faq_questions' %}"> Här nedan finner du svar på de vanligast ställda frågorna om hur man spelar lotto online. </a></li><hr>
					</ul>
				</div>
					<center> <a href="{% url 'website:highest_jackpots'%}" style="color:#007bff;"> Läs fler artiklar</a></center>
			</div>

			<div class="white_papper_mini mt-3">
				<h4 id="lottery_mini_list_headline"> Lotterier på nätet </h4>
				<hr>
				{% for lottery in mini_list_lotteries %}
					<div class="lottery_mini_list_box">
						<div class="a_hover_box">

							<a href="{% url 'website:lottery_detail' slug=lottery.slug %}">

								<div class="lottery_mini_list_logo">
									<img src="{{ lottery.logo.url }}" width="50" class="mt-2">
								</div>

								<div class="lottery_mini_list_content">
									<ul>
										<li><b> 	
										{{ lottery.name_of_lottery }}</b></li>
										<li>{{ lottery.mini_content }}</li>
									</ul>
								</div>
							</a>

						</div>		
					</div>
				{% endfor %}
				<hr>
				<center> <a href="{% url 'website:highest_jackpots'%}"  style="color:#007bff;"> Se hela top listan</a></center>
			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}
{% endblock %}



