{% extends 'base.html' %}
{% block title %}
LottoTellus
{% endblock %}

{% block content %}
{% load static %}

<div class="row">
	<div class="col-lg-1">
		<p> </p>
	</div>

	<div class="col-lg-8">

		<div class='page_wrapper'>
				<div class="welcome mt-3">

					<div class="welcome_content">
						<h4 style="color:white;"> Välkommen till LottoTellus </h4>
						<p class="welcome_text">
						Som namnet LottoTellus (Tellus = värld, jord) antyder finns här på sajten lotterier från hela världen.
						Du kan läsa om de olika lotterierna och kanske hittar du en favorit som du vill pröva lyckan på. Det
						är lättare än någonsin att spela lotto online. Internet har gett lottofans fantastiska möjligheter att
						spela på lotterier från hela världen och man är inte längre bunden till de få lotton som finns
						tillgängliga hos de svenska lottoombuden. Du kan välja att spela på lotterier, som har haft jackpottar
						på över 1,5 miljarder $, lotterier som har fantastiska vinnarodds eller lotterier som har dagliga
						dragingar.	
						</p>
					</div>
				</div>


			<div class="white_wrapper mt-2">
				<div class="index_content">
					<div class="welcome_text">
						<h3> Svensk spellicens </h3>
						<p class="mt-2">
							Du undrar säkert om det är säkert att spela på lotterier? Ja, det är det, men.... Det finns alltid ett
							men. Se till att lotteritjänsten, som du spelar från har en svensk spellicens. Enligt en ny svensk
							spellag från 1 januari 2019 får endast spelbolag med svensk spellicens vara verksamma på den
							svenska spelmarknanden. Spelbolag som har svensk spellicens är under kontinuerlig uppsikt och
							spelinspektionen ser till att bolagen följer de svenska spelreglerna och att kundernas bästa beaktas.
						</p>


						<h3> Lottobetting </h3>
						<p>
							Den svenska spellagen från 1 januari 2019 tillåter betting på lotteriers utfall, slutresultat. När
							spleare väljer att spela ett visst lotto, bettar hen på lotteriets slutresultat. Spelaren får ingen
							spelkupong från det officiella lotteriet.
							<br>
							Spelprocessen är likadan som när man spelar lotto på ”vanligt” sätt. Spelaren börjar med att välja ut
							lotteri och de nummer hen vill satsa på och betalar därefter för sina bet. Spelare måste matcha sina
							valda nummer med de nummer som dras i det officiella lotteriet och för att vinna ett pris följer
							lotteritjänsterna Lottoland och Multilotto det officiella lotteriets vinstnivåer och
							nummermatchningar. Lottovinsten betalas ut av lotteritjänsten, inte det officiella lotteriet. För att
							veta mer om hur lottobetting fungerar kan du läsa mer i FAQ.
						</p>

						<h3> Lotteritjänster </h3>
						<p>
							De lotterier som rekommenderas här kan spelas från två pålitliga och säkra lotteritjänster: Lottoland
							och Multilotto. Båda lotteritjänsterna har svensk spellicens och följer de regler som är uppsatta av
							den svenska spelinspektionen. De har därtill väl fungerande dygnet runt support på flera olika språk.
						</p>

						<div class="special_dot_list">
							<h3> Varför spela lotto? </h3>
							<p>
								Det finns många olika sorters spel på nätet och du undrar säkert varför du ska välja att spela lotto i
								stället för kasino. Det finns faktiskt många bra skäl och här har du de två främsta skälen:
							</p>
							<ul>
								<li> 
									Vinsterna. Inget spel kan erbjuda sådana vinster som lotterier har. Det finns två lotterier (US
									Powerball och Mega Millions) som har haft en jackpotvinst vardera på över 1,5 miljarder $.
									En stor del av lotterierna, som rekommenderas här i guiden har vinster på flera tiotals
									miljoner kronor och vinster på hundratals miljoner kronor är inte heller sällsynta.
								</li>
								<li>
									Spänning. Från det att du skickar in dina rader och fram till dragningen kan du känna den
									här speciella känslan, som är svår att beskriva. Men det finns en speciell känsla när man
									väntar på att en lottodragning ska äga rum och man kan börja kontrollera sina nummer.
								</li>
							</ul>
							<br>
							<h3> Fördelar med att spela lotto online </h3>
							<p>
								Det finns många bra skäl till varför det är bättre att spela lotto online istället för att gå ner till
								affären med sin kupong:
							</p>
							<ul>
								<li>
									Du har tillgång till ett stort utbud av lotterier från hela världen på nätet.
								</li>
								<li>
									Det är säkert att spela lotto på nätet, så länge de har svensk spellicens.
								</li>
								<li>
									Du missar inte att hämta ut priser. Lotteritjänsterna har koll på dina vinster och sätter in dem
									på ditt spelkonto. Inga vinster blir outhämtade.
								</li>
								<li>
									Du behöver inte bege dig ner till affären och stå i kö för att lämna in dina lotto rader.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>




			<div class="container mt-3">
				<div class="row">
					{% for supplier in lottery_supplier %}
					<div class="col-sm-6">
						<div class="levrantor_box">
							<label class="levrantor_box_label"> Lotteritjänst </label>
							<div class="levrantor_content">
								<img src="{{ supplier.logo.url }}">
								<a href="{{ supplier.link }}" target="_blank" style="color:#FAFAFA;"><button class="levrantor_button"> Till {{ supplier.namn }} </button></a>
								<h5 class="mt-1"> {{ supplier.namn }} </h5>
								<p> {{ supplier.content_box_1 }} </p>
								<p>{{ supplier.content_box_2 }}  </p>
								<a href="http://www.lottotellus.com/spela-ansvarsfullt" style="color:black;">Spela ansvarsfullt</a> | <a href="https://www.spelpaus.se/" target="_blank" style="color:black;"> Stödlinjen.se </a> | +18 |<a href="https://www.lottoland.se/allmannakampanjvillkor?" target="_blank" style="color:black;"> Villkor & regler gäller </a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			<div class="white_wrapper mt-3">
				<div class="index_content">
					<h3> Lotteritjänsterna </h3>
					<p>
						De lotterier, som du kan läsa om på LottoTellus kan du spela online på lotteritjänsterna Lottoland
						och Multilotto. Båda lotteritjänsterna är säkra och trygga att spela på. Här nedan finns lite
						information om de båda lotteritjänsterna. För med information kan du vända dig direkt till
						lotteritjänsterna eller kontakta oss.
					</p>

					<h3> Lottoland </h3>
					<p>
						Lottoland grundades 2013 och är idag ett av de största lotteritjänsterna online. Företaget har säte på
						Gibraltar och har över 150 anställda. När företaget grundades var syftet att göra det möjligt för
						kunder världen över att spela online på lotterier från världens all hörn. Lottoland blev utnämnd till
						Årets lotterioperatör i februari 2017. För att kunna agera på den svenska marknaden har Lottoland
						en svensk spellicens och följer den svenska spellagens regler och bestämmelser.
					</p>
						
					<h3> Multilotto </h3>
					<p>
						Lotteritjänsten <a href="https://www.multilotto.com/se?ml=myk4d7g6" target="_blank">Multilotto</a> grundades 2012 och har sitt huvudkontor på Malta. Verksamhetens syfte
						var att köpa lotterikuponger till sina kunder, men i och med den svenska spellagen från januari 2019
						erbjuder man nu istället spelare på nätet möjlighet att betta på officiella lotteriers utfall. Man har
						främst riktat sig mot den nordiska marknaden. Företaget har en spellicens från både Malta Gaming
						Authority och en svensk spellicens, som krävs enligt den svenska spellagen.
					</p>	
				</div>
			</div>



		</div>

	</div>

	<div class="col-lg-3">
		<div class="page_wrapper">

			<div class="white_papper_mini mt-3">
				<h4 id="lottery_mini_list_headline"> Lotterier på nätet </h4>
				<hr>
				{% for lottery in mini_list_lotteries %}
					<div class="lottery_mini_list_box">
						<div class="a_hover_box">

							<a href="{% url 'website:lottery_detail' slug=lottery.slug %}">

								<div class="lottery_mini_list_logo">
									<img src="{{ lottery.logo.url }}" width="50" class="mt-2">
								</div>

								<div class="lottery_mini_list_content">
									<ul>
										<li><b> 	
										{{ lottery.name_of_lottery }}</b></li>
										<li>{{ lottery.mini_content }}</li>
									</ul>
								</div>
							</a>
						</div>		
					</div>
				{% endfor %}
				<hr>

				<center> <a href="http://www.lottotellus.com/top-jackpottar/"  style="color:#007bff;"> Se hela top listan</a></center>
			</div>

			{% for winner in winners %}
				<div class="winner_mini_box  mt-2">

					<label class="winner_mini_box_label"> Vinnare </label>


						{% if winner.profil_bild %}
							<img class="center" src="{{winner.profil_bild.url}}">
						{% endif %}

						<div class="winner_mini_box_content">
							<a href="{% url 'website:winner_page' slug=winner.slug  %}" >
								<h5> {{ winner.welcome_title }} </h5>
								<p> {{ winner.welcome_text }}<label style="color:blue;"> Läs vidare..</label></p>
							</a>
						</div>
						<hr>

					<center> <a href="http://www.lottotellus.com/artiklar/" style="color:#007bff;"> Läs fler artiklar</a></center>
					<hr>
				</div>
			{% endfor %}

			<div class="white_papper_mini mt-2">
				<div class="list_of_links">
					<h4> Artiklar </h4>
					{% for link in article_links %}
					<ul>
						<li><a href="{{link.article_1}}"> {{ link.label_1 }}</a></li><hr>
						<li><a href="{{link.article_2}}"> {{ link.label_2 }}</a></li><hr>
						<li><a href="{{link.article_3}}"> {{ link.label_3 }}</a></li><hr>
						<li><a href="{{link.article_4}}"> {{ link.label_4 }}</a></li><hr>
						<li><a href="{{link.article_5}}"> {{ link.label_5 }}</a></li><hr>
					</ul>
					{% endfor %}
				</div>
				<center> <a href="http://www.lottotellus.com/artiklar/" style="color:#007bff;"> Läs fler artiklar</a></center>
			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}
{% endblock %}