

{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-1">
		<p> right side</p>
	</div>

	<div class="col-lg-8">
		<div class="lottery_page">

			<div class="lottery_box">
				{% for text in content %}
					{{ text.welcome_title }}
					{{ text.welcome_content }}
				{% endfor %}
			</div>

		</div>
	</div>

	<div class="col-lg-3">
		<div class="lottery_page">	
			<div class="lottery_box">
				<p> Hejsan from the left side! </p>
			</div>
		</div>
	</div>
</div>


{% endblock %}

