{% extends 'base.html' %}

{% block title %}
{{meta_tags.meta_title}}
{% endblock %}

{% block extra_head %}
<meta name="description" content="{{ meta_tags.meta_description }}" >
{% endblock %}


{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-1">
		<div class="side_banner_loser_page_w169_h600 mt-2">
			<iframe width="160" height="600" src="https://s3-eu-west-1.amazonaws.com/multilotto.ads/lottery-no-bonus-skyscraper-1/se/index.html?ml=s1s5n9r6&adid=70692" frameborder="0"></iframe>
		</div>

	</div>

	<div class="col-lg-8">
		<div class='page_wrapper'>
			<div class="white_papper mt-2">
				<hr>
				<div class="content_box">

					<div class="lottery_content mt-4">
						
						<p> {{ loser.content|safe  }}</p>
					</div>
					<br>
					{% if loser.profil_bild %}
						<img src="{{ loser.profil_bild.url }}" class="center" style="border-radius:5px;">
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="page_wrapper">

			<div class="white_papper_mini mt-2">
				<div class="list_of_links">
					<h4> Artiklar </h4>
					{% for link in article_links %}
					<ul>
						<li><a href="{{link.article_1}}"> {{ link.label_1 }}</a></li><hr>
						<li><a href="{{link.article_2}}"> {{ link.label_2 }}</a></li><hr>
						<li><a href="{{link.article_3}}"> {{ link.label_3 }}</a></li><hr>
						<li><a href="{{link.article_4}}"> {{ link.label_4 }}</a></li><hr>
						<li><a href="{{link.article_5}}"> {{ link.label_5 }}</a></li><hr>
					</ul>
					{% endfor %}
				</div>
				<center> <a href="http://www.lottotellus.se/artiklar/" style="color:#007bff;"> Fler artiklar</a></center>
			</div>

			<div class="white_papper_mini mt-3">
				<h4 id="lottery_mini_list_headline"> Lotterier på nätet </h4>
				<hr>
				{% for lottery in mini_list_lotteries %}
					<div class="lottery_mini_list_box">
						<div class="a_hover_box">

							<a href="{% url 'website:lottery_detail' slug=lottery.slug %}">

								<div class="lottery_mini_list_logo">
									<img src="{{ lottery.logo.url }}" width="50" class="mt-2">
								</div>

								<div class="lottery_mini_list_content">
									<ul>
										<li><b> 	
										{{ lottery.name_of_lottery }}</b></li>
										<li>{{ lottery.mini_content }}</li>
									</ul>
								</div>
							</a>

						</div>		
					</div>
				{% endfor %}
				<hr>
				<center> <a href="{% url 'website:highest_jackpots'%}" style="color:#007bff;"> Se hela topp listan</a></center>
			</div>
			
			<div class="levrantor_box_side_bar_winner_page">
				<label class="levrantor_box_label"> Lotteribettingtjänst </label><br>
				<img src="{% static 'multilotto-logo.jpg' %}">
				<h5 class="mt-1"> MultiLotto </h5>
				<p> Lottobonusar behöver endast omsättas 1 gång </p>
				<p> Enkelt att köpa en, fler eller prenumeration </p>
				<a href="https://www.multilotto.com/se?ml=myk4d7g6" target="_blank" style="color:#FAFAFA;"><button class="levrantor_button"> Till Multilotto </button></a>
				<div class="warning_link_label">
					<p>Spela ansvarsfullt | Stödlinjen.se | +18 | Villkor & regler gäller</p>
				</div>
			</div>

		</div>
	</div>
</div>


</div>

{% include "footer.html" %}
{% endblock %}



