{% extends 'base.html' %}
{% block content %}
{% load bleach_tags %}
<div class="row">
	<div class="col-lg-1">

	</div>

	<div class="col-lg-8">
		<div class='page_wrapper'>
			<div class="white_papper mt-2">
				


				<div class="header_box">
					<div class="header_logo">
						{% if lottery.logo %}
						<img src="{{ lottery.logo.url }}" class="center">
						{% endif %}
					</div>

					<div class="info_content">
						<div class="jackpot_box">
							<h6><b> Jackpot </b></h6>
							<p> {{ lottery.jackpot }} </p>
						</div>
						<div class="dragnings_box">
							<h6><b> Dragning </b></h4>
							<p>{{  lottery.dragnings_datum }}</p>
						</div>
						<div class="Jackpotodds">
							<h6><b> Jackpotodds </b></h6>
							<p> {{ lottery.odds }}</p>
						</div>
					</div>
				</div>

				<div class="clear"></div>

				<hr>


				<div class="content_box">
		
					<h3><b> {{ lottery.name_of_lottery }} </b></h3>
					<p>{{ lottery.welcome_text }}</p>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.a_title }}</h4>
						{% if lottery.a_content_image_right %}
						<img src="{{ lottery.a_content_image_right.url }}" width="300" class="mr-2">
						{% endif %}
						<p> {{ lottery.a_content|safe  }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.b_title }}</h4>
						<p> {{ lottery.b_content|safe  }}</p>
						<p>{{ project_code|bleach }} </p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.c_title }}</h4>
						<p> {{ lottery.c_content|safe }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.d_title }}</h4>
						<p> {{ lottery.d_content|safe  }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.e_title }}</h4>
						<p> {{ lottery.e_content|safe  }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.f_title }}</h4>
						<p> {{ lottery.f_content|safe }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.g_title }}</h4>
						<p> {{ lottery.g_content|safe }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.h_title }}</h4>
						<p> {{ lottery.h_content|safe }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.i_title }}</h4>
						<p> {{ lottery.i_content|safe }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.j_title }}</h4>
						<p> {{ lottery.j_content|safe }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.k_title }}</h4>
						<p> {{ lottery.k_content|safe }}</p>
					</div>

					<div class="lottery_content mt-4">
						<h4> {{ lottery.l_title }}</h4>
						<p> {{ lottery.l_content|safe }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="page_wrapper">

			<div class="winner_mini_box  mt-2">

				{% for winner in winners_of_that_lottery %}

					<label class="winner_mini_box_label"> Vinnare hos {{winner.lottery.name_of_lottery }} </label>
					{% if winner.profil_bild %}
						<img class="center" src="{{winner.profil_bild.url}}">
					{% endif %}

					<div class="winner_mini_box_content">
						<a href="{% url 'website:winner_page' slug=winner.slug  %}" >
							<h5> {{ winner.welcome_title }} </h5>
							<p> {{ winner.welcome_text }}<label style="color:#007bff;"> Läs vidare..</label></p>
						</a>
					</div>
					<hr>

				{% endfor %}
				<center> <a href="{% url 'website:all_article_page'%}" style="color:#007bff;"> Läs fler artiklar</a></center>
				<hr>

			</div>

			<div class="white_papper_mini mt-2">
				<div class="list_of_links">
					<h4> Artiklar </h4>
					<ul>
						<li><a href="{% url 'website:highest_jackpots' %}">  Undrar du vilket lotto som är bäst att spela på??  </a></li><hr>
						<li><a href="{% url 'website:index' %}">  Spela lotto med vår lottoguide </a></li><hr>
						<li><a href="{% url 'website:faq_questions' %}"> Här nedan finner du svar på de vanligast ställda frågorna om hur man spelar lotto online. </a></li><hr>
					</ul>
				</div>
					<center> <a href="{% url 'website:all_article_page'%}" style="color:#007bff;"> Läs fler artiklar</a></center>
			</div>

			<div class="white_papper_mini mt-3">
				<h4 id="lottery_mini_list_headline"> Lotterier på nätet </h4>
				<hr>
				{% for lottery in mini_list_lotteries %}
					<div class="lottery_mini_list_box">
						<div class="a_hover_box">

							<a href="{% url 'website:lottery_detail' slug=lottery.slug %}">

								<div class="lottery_mini_list_logo">
									<img src="{{ lottery.logo.url }}" width="50" class="mt-2">
								</div>

								<div class="lottery_mini_list_content">
									<ul>
										<li><b> 	
										{{ lottery.name_of_lottery }}</b></li>
										<li>{{ lottery.mini_content }}</li>
									</ul>
								</div>
							</a>

						</div>		
					</div>
				{% endfor %}
				<hr>
				<center> <a href="{% url 'website:highest_jackpots'%}" style="color:#007bff;"> Se hela top listan</a></center>
			</div>

			<div class="winner_mini_box  mt-2">

				<label class="winner_mini_box_label"> Vinnare </label>

				{% if winner.profil_bild %}
					<img class="center" src="{{winner.profil_bild.url}}">
				{% endif %}

				<div class="winner_mini_box_content">
					<a href="{% url 'website:winner_page' slug=winner.slug  %}" >
						<h5> {{ winner.welcome_title }} </h5>
						<p> {{ winner.welcome_text }}<label style="color:#007bff;"> Läs vidare..</label></p>
					</a>
				</div>
				<hr>
				<center> <a href="{% url 'website:all_article_page'%}" style="color:#007bff;"> Läs fler artiklar</a></center>
				<hr>
			</div>

			<div class="levrantor_box_side_bar_winner_page">
				<label class="levrantor_box_label"> Lotteri Levrantör </label><br>
				<h5 class="mt-1"> MultiLotto </h5>
				<p> Lottobonusar behöver endast omsättas 1 gång </p>
				<p> Enkelt att köpa en, fler eller prenumeration </p>
				<button class="levrantor_button"> Till Spelbolaget </button>
				<p>Spela ansvarsfullt | Stödlinjen.se | +18 | Villkor & regler gäller</p>
			</div>


		</div>
	</div>

</div>

{% include "footer.html" %}
{% endblock %}




		


