{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<div id="header" class="mt-5">
				<h4 class="header"> Mega Millions </h4>
				<div class="content">
					
					<p> 
						Mega Millions är ett amerikanskt lotteri och räknas till världens största lotterier. Mega Millions
						rekord jackpot ligger på 1,537 miljarder $ och som vanns oktober 2018 av en spelare i South
						Carolina. Nu har du chansen att spela Mega Millions online och kanske just du har turen att bli
						nästa stora vinnare..
					</p>

					
				</div>
			</div>

			<img src="/static/BannerMain-1-billion.jpg" style="width:100%; height:100px;" class="mt-3">



			
			<p>
			  <a class="btn btn-primary mt-3" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"> Mega Millions regler </a>
			  <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"> Mega Millions odds </button>

			</p>
			<div class="row">
			  <div class="col">
			    <div class="collapse multi-collapse" id="multiCollapseExample1">
			      <div class="card card-body">
					För att spela Mega Millons ska du välja 5 huvudnummer mellan 1 och 70 och en Mega Ball / eller
					Lucky Star KOLLA UPP mellan 1 och 25. För att vinna jackpotten krävs att du har matchat alla
					dina nummer, inklusive Mega Ball. Mega Millions har 8 sekundära priskategorier och om du har
					partiella matchningar kan du vinna ett pris ur något av de övriga priskategorierna.
			      </div>
			    </div>
			  </div>
			  <div class="col">
			    <div class="collapse multi-collapse" id="multiCollapseExample2">
			      	<div class="card card-body">
			      		Med hjälp av systemspel kan du förbättra dina odds. Med fler nummer har du lättare att matcha
						dragningens nummer.
						I tabellen nedan kan du se Mega Millions oddsen för varje priskategori.
			      	</div>
			    </div>
			  </div>
			</div>




				
				<div class="content mt-3">
					<h5><b> Mega Millions priser </b></h5>
					<p>
						Det finns 9 priskategorier, inklusive Mega Millions jackpotten, som startar på 40 miljoner $. Om
						det inte finns någon jackpotvinnare rullar den över till nästa dragning och den ökar med minst 5
						miljoner $. För att vinna jackpotten måste du matcha 5 nummer och Mega Ball. Du kan även bli
						miljonär med Mega Millions 2:a pris. Den är alltid på 1 miljon $ och för att vinna den måste du
						matcha de 5 huvudnumren. För att vinna det lägsta priset krävs endast Mega Ballmatchning.
					</p>

					<label> 
						TABELL Oddsen kan se ut att vara omöjliga att slå, men tänk på att det är alltid någon som vinner jackpotten till slut.
					</label>
				</div>





			<div class="content mt-3">
				<p>
					<b> Olika Mega Millions spel </b>
					När du har bestämt dig för att spela Mega Millions måste du välja vilken sorts spel du ska satsa på.
					Du kan välja mellan engångsspel, bolagsspel och spelpaket.
					 Mega Millions engångsspel gäller endast för en dragning.
					 Mega Millions bolagsspel passar den som vill spela i grupp med andra. Gruppen delar på
					kostnaden och blir det vinst delas priset proportionerligt, efter var och ens köpta andel, i
					bolaget.
					 Med ett Mega Millions spelpaket får du två sorters spel. Du spelar med egna rader och är
					även med i ett bolag.

					För att inte missa en Mega Millions dragning kan du köpa en prenumeration och den gäller tills du
					säger upp den, eller så kan du köpa ett flerdragningspaket på några veckor. Ju fler dragningar du är
					med i desto mer ökar chansen att vinna ett pris.
					Välja Mega Millions nummer
					Du kan välja dina Mega Millions nummer på två sätt:
					 manuellt och använda de nummer du själv vill.
					 låta datorn slumpa fram dina nummer är det snabbaste och enklaste sättet.
					Oavsett hur du väljer dina nummer har du chans att vinna då det är slumpen som avgör vilka
					nummer som dyker upp i Mega Millions dragningen.
					Megaplier
					Du kan addera Megaplier till ditt spel. Den ökar ditt pris med 2, 3, 4, eller 5 gånger.

					Spela Mega Millions online
					Du måste börja med att välja spelformat och därefter fyller du i dina 5 nummer och Mega Ball. När
					du har tagit ställning till om du vill spela med Megaplier eller inte, betalar du för dina spel. Du ser
					all viktig information om dina spel på ditt spelkonto.

				</p>
			</div>



		</div>





		<div class="col-sm-3">
			<h3> Mega Millions dragning </h3>
			<div class="content">

				<p>
					Mega Millions dragningen äger rum tisdagar och fredagar, kl 23 EST, vilket motsvarar onsdagar
					och lördagar kl 05:00 svensk tid. Dragningen äger rum i Atlanta, Georgia.
				</p>	
			</div>

			<button type="button" class="btn btn-success mt-3">Spela Nu </button>

			<div class="content mt-3">
				<h4> Mega Millions resultat </h4>
				När Mega Milions dragningsresultaten har offentliggjorts kan du se dem här. I tabellen nedan kan
				du se de senaste 10 resultaten.
				TABELL
			</div>

			<h5 class="mt-3"> TABELL </h5>
			<p> 
				Om du har spelat via en lotteritjänst sätts din vinst in på ditt spelkonto.
			</p>
		</div>


	</div>
</div>


{% endblock %}
