<nav class="navbar navbar-dark  navbar-expand-lg" id="color_blue">
  <a class="navbar-brand mr-5" href="http://www.lottotellus.com/" id="LottoTellus">LottoTellus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


    <div class="navbar-nav">
      <a class="nav-item nav-link" href="http://www.lottotellus.com/europeiska-lotter/">Europa</a>
      <a class="nav-item nav-link" href="http://www.lottotellus.com/asiatiska-lotter/">Asien</a>
      <a class="nav-item nav-link" href="http://www.lottotellus.com/sydamrikanska-lotter/">Sydamerika</a>
       <a class="nav-item nav-link" href="http://www.lottotellus.com/amrikanska-lotter/">Amerika</a>
      <a class="nav-item nav-link" href="http://www.lottotellus.com/top-jackpottar/"> Högsta jackpottar </a>
      <a class="nav-item nav-link" href="http://www.lottotellus.com/faq-fragor/">Faq Frågor</a>
      <a class="nav-item nav-link" href="{% url 'website:contact_page' %}">Kontakta oss</a>

    </div>

  </div>  
</nav>

