<nav class="navbar navbar-dark  navbar-expand-lg" id="color_blue">
  <a class="navbar-brand mr-5" href="http://www.lottotellus.se/" id="LottoTellus">LottoTellus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


    <div class="navbar-nav">
      <a class="nav-item nav-link" href="http://www.lottotellus.se/europeiska-lotter/">Europa</a>
      <a class="nav-item nav-link" href="http://www.lottotellus.se/afrikanska-asiatiska-lotter/">Afrika/Asien</a>
      <a class="nav-item nav-link" href="http://www.lottotellus.se/sydamrikanska-lotter/">Sydamerika</a>
       <a class="nav-item nav-link" href="http://www.lottotellus.se/amrikanska-lotter/">USA</a>
      <a class="nav-item nav-link" href="http://www.lottotellus.se/jackpot-toppen/">  10 i topp </a>
      <a class="nav-item nav-link" href="http://www.lottotellus.se/artiklar/">Artiklar</a>
      <a class="nav-item nav-link" href="http://www.lottotellus.se/faq-fragor/">FAQ</a>
      <a class="nav-item nav-link" href="{% url 'website:contact_page' %}">Kontakta oss</a>

    </div>

  </div>  
</nav>

