{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="row">
	<div class="col-lg-1">
		<p> </p>
	</div>

	<div class="col-lg-8">

		<div class='page_wrapper'>
				<div class="welcome mt-3">

					<div class="welcome_content">
						<h4> Spela lotto med vår lottoguide </h4>
						<p class="welcome_text">
						Det är lättare än någonsin att spela lotto online. Internet har gett lottofans fantastiska möjligheter att spela på lotterier från hela världen. Du kan välja att spela på lotterier, som har haft jackpottar på över 1,5 miljarder $, lotterier som har fantastiska vinnarodds eller lotterier som har dagliga dragingar. I den här guiden har vi samlat de populäraste lotterierna från olika länder och kontinenter. Du hittar säkert ett par favoriter som du kan pröva lyckan på.	
						</p>
					</div>
				</div>


			<div class="white_wrapper mt-2">
				<div class="welcome_text">
					<h3> Välkommen till LottoTellus </h3>
					<p class="mt-3">
						Du undrar säkert om det är säkert att spela på lotterier? Ja, det är det, men.... Det finns alltid ett men. Se till att lotteritjänsten, som du spelar från har en svensk spellicens. Enligt en ny svensk spellag från 1 januari 2019 får endast spelbolag med svensk spellicens vara verksamma på den svenska marknanden. Spelbolag som har svensk spellicens är under kontinuerlig uppsikt och spelinspektionen ser till att bolagen följer de svenska spelreglerna och att kundernas bästa beaktas.
						<br>
						De lotterier som rekommenderas här kan spelas från två pålitliga, trygga och säkra lotteritjänster. De har väl fungerande dygnet runt support på flera olika språk.
					</p>



					<p>
						Det finns många olika sorters spel på nätet och du undrar säkert varför du ska välja att spela lotto i stället för som kasino. Det finns faktiskt många bra skäl och här har du de två främsta skälen:
						Priserna. Om du lyckas pricka in de rätta numren kommer du att kunna leva riktigt gott för resten av livet. Du kan inte vinna så stora jackpottar någon annanstans som i lotto.
						Spänning. Från det att du skickar in dina rader och fram till dragningen kan du känna en den här speciella känslan av att NU är det kanske min tur. Dagdrömmeriet gör den gråa vardagen mer uthärdligt.
					</p>

					<p>
						Det finns även många bra skäl till varför det är bättre att spela lotto online istället för att gå ner till affären med sin kupong:
						Du har tillgång till ett etort utbud av lottrier från hela världen på nätet.
						Det är säkert att spela lotto på nätet.
						Du missar inte att hämta ut priser. Lotteritjänsterna har koll på dina vinster och sätter in dem på ditt spelkonto. Inga vinster blir outhämtade.
						Du behöver inte bege dig ner till affären och stå i kö för att lämna in dina lotto rader.
						Som du ser är det bara 
					</p>
					
					<div class="test_box">
						<div class="row">

							
								{% for lottery in lotteries %}
									<div class="circle_image">
										<img src="{{ lottery.logo.url }}" class="center">
									</div>
								{% endfor %}

							</div>

					</div>
				</div>
			</div>
		</div>
	
	</div>

	<div class="col-lg-3">
		<div class='page_wrapper'>
			<div class="lotterier_mini_list mt-3">
				<h4>Lotterier på nätet</h4>
				{% for lottery in mini_list_lotteries %}

				<div class="a_hover_box">
					<a href="{% url 'website:lottery_detail' slug=lottery.slug %}">
						<img src="{{ lottery.logo.url }}" width="50" class="mt-2">
						<ul>
							<li><b> {{ lottery.name_of_lottery }}</b></li>
							<li>max text 75</li>
						</ul>
						<br>
					</a>
				</div>
				{% endfor %}
			</div>
			<div class="white_papper mt-3">
				<div class="list_of_links mt-2">
					<h4> Artiklar </h4>
					<ul>
						<li><a href="{% url 'website:highest_jackpots' %}">  Undrar du vilket lotto som är bäst att spela på??  </a></li><hr>
						<li><a href="{% url 'website:index' %}">  Spela lotto med vår lottoguide </a></li><hr>
						<li><a href="{% url 'website:faq_questions' %}"> Här nedan finner du svar på de vanligast ställda frågorna om hur man spelar lotto online. </a></li><hr>
					</ul>
				</div>

				<div class="winner_page  mt-2">
					{% if winner.profil_bild %}
						<img class="center" src="{{winner.profil_bild.url}}">
					{% endif %}
					<div class="winner_content">
						<a href="{% url 'website:winner_page' slug=winner.slug  %}"> 
							<h5> {{ winner.welcome_title }} </h5>
							<p> {{ winner.welcome_text }}<label style="color:blue;"> Läs vidare..</label></p>
						</a>
					</div>
					<hr>
					<p style="text-align:center;"> Read More </p>
				</div>
			</div>
		</div>
	</div>
</div>


{% include "footer.html" %}
{% endblock %}

