{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row">
	<div class="col-lg-1">
		<p> </p>
	</div>

	<div class="col-lg-8">

		<div class='page_wrapper'>

			<div class="white_wrapper mt-5">
				<div class="index_content">
					<div class="welcome_text">

						<h1> Ansvarsfullt spelande </h1>
						<p class="mt-2">
						Spel ska vara ett nöje, men tyvärr kan det ibland bli lite för mycket och därför ska alla som spelar vara vaksamma på sitt spelande. För att hålla koll på spelandet kan du använda dig lotteritjänsternas insättningsgräns och egenuteslutning.

						</p>


						<h3> Insättningsgräns </h3>
						<p>
							Bestäm i förväg hur mycket du vill spela för och sätta en  insättningsgräns för en bestämd tid på ditt spelkonto hos lotteritjänsten. När du har nått den gränsen kan du inte sätta in mer pengar. Om du villsänka din insättningsgräns ytterligare är det bara att kontakta lotteritjänsten och gränsen sänks omgående. Men om du vill höja din insättningsgräns tar det 24 timmar, så att du får betänketid.

						</p>

						<h3> Egenuteslutning </h3>
						<p>
							Om du tycker att du spelar alldeles för mycket kan du även utesluta dig själv från all spel under några månader eller till och med under några år. Under din uteslutningstid kommer du inte att kunna logga in på ditt spelkonto och du kommer att tas bort från databasen för marknadsföring.

						</p>

						<h3> Inga spelare under 18 år </h3>
						<p>
							Enligt svensk lag får inte minderåriga spela om pengar och därför är lotteritjänsterna strikta med att spelare måste kunna bevisa att de är fyllda 18 år när de registrerar sig. 

						</p>

						<h3> Hjälp att få </h3>
						<p>
							Om du tycker att du spelar för mycket och att spelandet påverkar negativt ditt liv finns det hjälp att få. På stodlinjen.se och spelberoende.se finns ett självtest som du kan göra för att se om du är i  riskzonen för att utveckla spelberoende. Du kan även kontakta både stödlinjen och spelberoendes förening om du behöver någon att prata med om ditt spelande.
						</p>

						<h1> Användarvillkor </h1>
						<h4> Informationssida </h4>
						<p>
							LottoTellus.com är en fristående informationstjänst och är inte ansvarig för lotteritjänsternas spel.
							På sajten ges information om olika online lotterier och även reklam görs för dessa. LottoTellus.com
							äger inte dessa spel. Syftet är enbart att ge så tillförlitlig och aktuell information som möjligt.
							LottoTellus.com reserverar sig för eventuella felaktigheter i innehållet och förbehåller rätten att
							ändra på information utan föregående förvarning. Inom lotterivärlden kan regler ändras snabbt och
							därför garanteras inte aktualiteten eller tillförlitligheten på webbplatsen. Tredje part kan ändra
							innehåll och regler och LottoTellus.com kan inte hållas ansvarig för dessa. Kontrollera därför alltid
							regler och bestämmelser med lotteritjänsten.
							Innehållet på LottoTellus webbplats är copyright skyddat och får inte kopieras eller spridas utan
							tillstånd.
							Utbetalning av US Powerball, Mega Millions och SuperEnalotto jackpott vinst
							Utbetalning av US Powerball, Mega Millions och SuperEnalotto jackpott vinsten kan ske på två
							sätt; årliga utbetalningar under 30 år, s.k. livränta alternativet eller i en klumpsumma. Om vinsten
							betalas ut under 30 år görs den första utbetalningen ut så snart som möjligt efter dragningen och de
							resterande 29 betalningarna med ett årsintervaller. För varje år stiger utbetalningen med några
							procent. Om vinsten betalas ut i en klumpsumma är vinsten efter reserverade rabatter diskonterade.
							Diskonteringsräntan är 40%, det vill säga klumpsumman är 60% av det årliga livränta-värdet. EU
							Lotto beslutar om hur jackpott vinsten utbetalas.
							38% minskning av jackpott vinst
							EU Lotto gör avdrag på 38% på vinsterna i de tre högsta priskategorierna i Mega Millions, US
							Powerball och SuperEnalotto, eftersom spelare ska ha liknande ekonomisk position som om de hade
							spelat det underliggande lotteriet.

							Spela ansvarsfullt
							Spela aldrig för mer pengar än du har råd att avvara! Om du misstänker att du har spelproblem läs
							vidare i Spela ansvarsfullt! LottoTellus.com kan inte hållas ansvarigt för pengar överförda till
							lotteritjänster eller för satsade pengar.

							Om du har frågor, vänligen kontakta oss!
						</p>
							<div class="spela_ansvarsfullt">
								<label class="mr-3">Ring Stödlinjen: 020-81 91 00 </label>
								<a href="https://stodlinjen.se/#!/" target="_blank"> 
									<img src="{% static 'stodlinjen.png' %}">
								</a>

								<a href="https://www.spelpaus.se/" target="_blank">
									<img src="{% static 'spelpaus.png' %}">
								</a>
							</div>


					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3">

	</div>

</div>

{% include "footer.html" %}
{% endblock %}


