
{% extends 'base.html' %}
{% block title %}
Sydamerika lotter
{% endblock %}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-2">
		<p> </p>
	</div>

	<div class="col-lg-8">

		<div class="welcome mt-3">
			<div class="welcome_content">
				<h1 style="color:white;"> Lotterier från Sydamerika</h1>
				<p class="welcome_text">
					Det är inte många som förknippar Sydamerika med lotto, men där finns faktiskt en hel del
					spännande lotterier. Sydamerikanska lotterier kommer inte i närheten av amerikanska
					rekordjackpottar, men de är ändå i den storleken att de kan ändra jackpotvinnarens liv och man får
					inte glömma att oddsen för att vinna är många gånger bättre i de sydamerikanska lotterierna än i de
					amerikanska. Många sydamerikanska jackpottar har ingen jackpotgräns och tack vare att de rullar
					över till nästa dragning kan jackpottarna ändå stiga till höga belopp. I maj 2019 var t.ex. Mega Sena
					jackpotten på 72 miljoner $.
				</p>
			</div>
		</div>

		<div class="lottery_list">
			{% for lottery in sydamerika_list %}
				<div class="lottery_box">
					<div class="row">

						<div class="col-lg-1">
							{% if lottery.logo %}
							<img src="{{ lottery.logo.url }}" id="big_rank_list_logo" class="center">
							{% endif %}
						</div>

						<div class="col-lg-10" >

							<div class="row text_center mt-2">

								<ul class="col-sm-4 no_bullets">
									<b> Rekordjackpot </b>
									<li> {{ lottery.jackpot }} </li>
								</ul>
						
								<ul class="col-sm-4 no_bullets">
									<b>Dragning</b>
									<li>{{  lottery.dragnings_datum }}</li>
								</ul>

								<ul class="col-sm-4 no_bullets">
									<b>Jackpotodds</b>
									<li> {{  lottery.odds }}</li>
								</ul>
							</div>
							<p class="mt-2 ml-5"> {{  lottery.intro_content }} <a href="{% url 'website:lottery_detail' slug=lottery.slug  %}"> Läs mer... </a></p>
						</div>
					</div>
					<div class="lottery_price_tag">
						{{  lottery.pris_biljett }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
		
	<div class="col-lg-2">
	</div>
</div>

{% include "footer.html" %}
{% endblock %}


