{% extends 'base.html' %}
{% block content %}





<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<div id="header" class="mt-5">
				<h4 class="header"> Us PowerBall </h4>
				<div class="content">
					
					<p> Världens största lotto är utan tvekan US Powerball. En US Powerball jackpot räknas i hundratals
						miljoner dollar och rekordjackpotten ligger på 1,586 miljarder $ och delades ut 2016. Efter det har
						flera stora jackpottar delats ut. Så sent som i mars 2019 vann en 24-åring en Powerball jackpott på
						768,4 miljoner $.
					</p>

					
				</div>
			</div>

			<img src="/static/BannerMain-1-billion.jpg" style="width:100%; height:100px;" class="mt-3">



			
			<p>
			  <a class="btn btn-primary mt-3" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"> Powerball regler </a>
			  <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"> Powerball odds </button>

			</p>
			<div class="row">
			  <div class="col">
			    <div class="collapse multi-collapse" id="multiCollapseExample1">
			      <div class="card card-body">
					<b>	Powerball regler </b> <br>
					Att spela US Powerball online är lätt. Du ska välja 5 huvudnummer mellan 1 och 69 och 1
					Powerball mellan 1-26. Om alla dina valda nummer matchar med Powerball dragningens nummer
					har du vunnit jackpotten. Men om endast en del nummer matchar har du vunnit ett av priserna i de
					övriga priskategorierna.
					Powerball dragning
					Den spännande dragningen äger rum två gånger i veckan, onsdagar och lördagar, kl 22:59 EST,
					(torsdagar och söndagar kl 05:00 svensk tid) i Tallahassee, Florida.
					Powerball resultat
					US Powerball resultat publiceras direkt efter dragningen på onsdagar och lördagar. Här nedan kan
					du se de 10 senaste Powerball resultaten.
					<br>
					TABELL
					<br>
					Om du har spelat via en lotteritjänst sätts din vinst in på ditt spelkonto.
			      </div>
			    </div>
			  </div>
			  <div class="col">
			    <div class="collapse multi-collapse" id="multiCollapseExample2">
			      	<div class="card card-body">
						<b> Powerball odds </b>
						Att vinna Powerball jackpotten är inte lätt. Oddsen är höga och kan kännas som omöjliga att slå,
						men kom ihåg, att det är alltid någon som till slut vinner jackpotten.
						Du kan förbättra dina odds genom att spela systemspel. Genom att välja fler nummer som
						kombineras i olika radkombinationer ökar dina chanser till vinst.
						I tabellen nedan kan du se varje priskategoris vinnarodds och hur många nummer du måste matcha.
						<label> TABELL Prisnivå Matchning Odds </label>
			      	</div>
			    </div>
			  </div>
			</div>




				
				<div class="content mt-3">
					<h5><b> US Powerball priser </b></h5>
					<p>
						Powerball jackpotten startar på garanterade 40 miljoner $. Om det inte finns någon jackpotvinnare
						rullar priset över till nästa dragning. Powerball har inget jackpottak och därför kan jackpotpriset
						rullar över i veckor och månader och till slut landa på flera hundratalsmiljoner dollar. Powerballs
						rekordjackpot ligger för närvarande på 1,586 miljarder $.
						Det finns, utöver jackpotten, 8 priskategorier. I den 2:a priskategorin kan du vinna 1 miljon $ och i
						den lägsta priskategorin krävs endast att du matchar Powerball och då vinner du 4 $. I tabellen
						nedan kan du se hur priserna är fördelade mellan de olika prisnivåerna.
					</p>
				</div>





			<div class="content mt-3">
				<p>
					<b> Olika Powerball spel </b>
					Innan du börjar spela Powerball måste du välja vilken form du vill satsa på. Det finns olika
					alternativ: engångsspel, bolagsspel och spelpaket
					- Powerball engångsspel gäller för en dragning. Om du vill spela i följande dragning, måste du köpa
					ett nytt spel.
					- I ett Powerball bolagsspel spelar du i grupp med andra. Dina odds förbättras när du spelar
					tillsammans med andra, eftersom du får fler rader för en bråkdel av priset. Det som bolaget vinner
					delas mellan dess medlemmar och prisfördelningen sker efter hur många andelar var och en har
					köpt i det aktuella bolaget.
					- Med ett Powerball spelpaket deltar du med både egna rader och bolagsspel. Det du vinner på dina
					egna rader får du behålla, men om du vinner med bolagsspelet delar du vinsten med de andra
					spelarna i bolaget.
					Det är lätt hänt att missa en dragning och det kan du undvika genom att köpa en Powerball
					prenumeration, som löper på tills du säger upp det, eller ett flerdragningspaket på ett visst antal
					veckor. Det är förargligt att missa ett stort pris bara för att man har glömt att lämna in sina rader.
					Därför är både en prenumeration och ett flerdragningspaket att föredra.

				</p>
			</div>

			<div class="content mt-3">
				<p>
					<b> Välja Powerball nummer </b>
					När du har valt vilken form av Powerball du vill spela måste du välja dina nummer. Detta kan du
					göra på två sätt:
					 Välj dina egna nummer manuellt.
					 Låt datorn slumpa fram dina nummer.
					<b> Powerballs Power Play </b><br>
					Om du vill öka värdet på dina priser kan du kryssa i tilläggsspelet Power Play. Med hjälp av Power
					Play funktionen kan du multiplicera dina vinster med 2, 3, 4, 5 eller 10 gånger. 10 multiplikatorn
					används endast om jackpotten är lägre än 150 miljoner $.<br>
					<b> Spela US Powerball online </b><br>
					När du har valt spelform, dina 5 nummer och Powerballnummer, ja eller nej till Power Play, betalar
					du för dina rader. När betalningen är gjord ser du dina nummer, dragningsdatum och radernas
					kostnad på ditt spelkonto. Sedan är det bara att vänta på dragningen och hålla tummarna för att du
					vinner ett stort pris.
				</p>
			</div>

		</div>





		<div class="col-sm-3">
			<h3> PowerBall Dragning </h3>
			<div class="content">

				<p>
					Den spännande dragningen äger rum två gånger i veckan, onsdagar och lördagar, kl 22:59 EST,
					(torsdagar och söndagar kl 05:00 svensk tid) i Tallahassee, Florida.
				</p>	
			</div>

			<button type="button" class="btn btn-success mt-3">Spela Nu </button>

			<div class="content mt-3">
				<h4> Powerball Resultat </h4>
				US Powerball resultat publiceras direkt efter dragningen på onsdagar och lördagar. Här nedan kan
				du se de 10 senaste Powerball resultaten.
			</div>

			<h5 class="mt-3"> TABELL </h5>
			<p> 
				Om du har spelat via en lotteritjänst sätts din vinst in på ditt spelkonto.
			</p>
		</div>


	</div>
</div>


{% endblock %}
