{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row">
	<div class="col-lg-1">
		<div class="sticky">
			<button> Satsa nu </button>
		</div>
	</div>

	<div class="col-lg-8">
		<div class="lottery_page">
		
{% for winner in winners %}

			<div class="lottery_box">


				<div>
					<img src="{{ winner.lottery.logo.url}}" width="150">
					<h3> </h3>
				</div>

				<div class="small_content">
					<h4>{{ winner.welcome_title }}</h4>
					<p>{{winner.welcome_text}}</p>
				</div>

				<div class="small_content">
					<h4>{{ winner.a_title }}</h4>
					<p>{{ winner.a_content }}</p>
				</div>

				<div class="big_content_right mt-5">
					<h4>{{ winner.b_title }}</h4>
					{% if winner.b_image %}
						<img src="{{ winner.b_image.url }}" width="300">
					{% endif %}					
					<p>{{ winner.b_content }}</p>
				</div>

				
				


				<div class="small_content">
					<h4>{{ winner.c_title }}</h4>
					<p>{{winner.c_content }}</p>
				</div>
				{# image tag from lottery images.#}
				{% for image in lottery_images %}
				{% if image.kvadrat %}
				<img src="{{ image.kvadrat.url }}" width="100" class="center">
				{% endif %}
				{% endfor %}
				<br>

				<div class="big_content_left mt-5">
					<h4>{{ winner.d_title }}</h4>
					
					<img src="" width="200">
					
					<p>{{ winner.d_content }}</p>
				</div>
				<br>
				<div class="small_content">
					<h4 class="mt-2">{{ winner.e_title }}</h4>
					<p>{{ winner.e_content }}</p>
				</div>
			</div>
		</div>
{% endfor %}
	</div>

	<div class="col-lg-3">

			<div class="lotterier_mini_list mt-3">
				<h4>Lotterier på nätet</h4>
				{% for lottery in mini_list_lotteries %}

				<div class="a_hover_box">
					<a>
						<img src="{{ lottery.logo.url }}" width="50">
						<ul>
							<li><b> {{ lottery.name_of_lottery }}</b></li>
							<li>huhu</li>
						</ul>
						<br>
					</a>
				</div>
				{% endfor %}
			</div>



			<div class="lotterier_mini_list mt-3">
				<h4>Lotterier på nätet</h4>
				{% for lottery in mini_list_lotteries %}

				<div class="a_hover_box">
					<a>
						<img src="{{ lottery.logo.url }}" width="50">
						<ul>
							<li><b> {{ lottery.name_of_lottery }}</b></li>
							<span><li>vann en Powerball jackpott på 768,4 miljoner $ den 27 mars 2019. Vinsten är den tredje största </li>
							
						</ul>
						<br>
					</a>
				</div>
				{% endfor %}
			</div>



		</div>
	</div>
</div>


{% endblock %}









