body{
	background-color: #FFFFFF;
}


.nav-item{
	list-style-type: none;
}


#color{
	background-color:#096BB6;
}


.dropdown-item a{
	color:green;
	background-color: black;
}

#navbar_head_text{
	color:white;
}


.content{
	padding:10px;
	border-radius:2px;
	border:1px solid grey;
	box-shadow: 5px 5px grey;
	background-color:#F7F7F7
	
}


/* First Intro for the lottery at the index page */
#header h4{
	margin:0px;
	padding:5px;
	background-color:#096BB6;
	border-radius:2px;
	box-shadow: 5px 5px grey;
	color:white;
	font-style:italic;
}

#reviews{
	font-weight:bold;
	font-style:italic;
}

.agent{
	border:1px solid grey;
	box-shadow: 5px 5px grey;
	border-radius:2px;
}



.col-sm-4{
	text-align:center;
}

.list-group{
	box-shadow: 5px 5px grey;
	border-radius:2px;
}



/* page lotteries */
.welcome{
	background-color:#096BB6;
}

.welcome_content{

	padding:10px;
	color:white;
	font-size:15px;
	font-style:italic;
	letter-spacing:1px;
	line-height:19px;
}

.welcome_content h4{
	font-weight:bold;
		margin:0px;
}


/* List of lotteries */


ul{
	margin:0px;
	list-style: none;
}


.lottery_box{
	padding:20px;
	background-color: #E5EDF6;

}

.lottery{
	background-color:white;
	padding:20px;
	border-radius:5px;
}



#lottery_logo{
	position:auto;


	max-height:100px;
	max-width:100%;
}

#us_svg{
	width:22px;

}



.ticket_button{
	margin:10px;
	padding:5px;
	background-color:#64A836;
	color:white;
	width:100%;
}


