body{ 
	height:100%;
	background-color:#ECF0F1;;
	font-family: "Times New Roman", Times, serif;

}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 

h3{
	font-weight:bold;
	font-style: italic;
	color:#414141;
}


.white_wrapper{
	margin:0px;
	padding:0px;
	background-color:#FFFF;
	padding:20px;
	border-radius:15px;
}

.text_center{
	text-align:center;
}
.lottery_page_content_wrapper{
	padding:5px 150px 5px 90px;
}


.row{
	margin:0px;
}
.col-lg-1{
	margin:0px;
	padding:0px;
}



.col-lg-3{
	margin:0px;
	padding:5px;
}
.col-lg-8{
	margin:0px;
	padding:0px;
}


.content_wrapper{
	max-width:100%;
	width:850px;
	padding:5px;
	margin:0px;
}

#color_blue{
	background-color:#096BB6;
}

#navbarNavAltMarkup a{
	font-weight:bold;
	margin-right:180px;
	color:white;
}


/* page Highest Jackpotts */
.welcome{
	border-radius:5px;
	background-color:#096BB6;
}

.welcome_content{
	padding:10px;
	color:white;
	font-size:15px;
	letter-spacing:1px;
	line-height:19px;
}

.welcome_content h4{
	font-weight:bold;
	margin:0px;
}

.welcome_text{
	padding:5px;
}


.no_bullets ul{
	list-style-type:none;
}
.no_bullets{
	list-style-type:none;
}
.lottery_list{
	margin:5px;
}

.lottery_box{
	background-color:#FFFF;
	box-shadow: 3px 2px #888888;
	padding:20px;
	border-radius:20px;
}


#lottery_logo{
	position:auto;
	width:150px;
	max-height:100px;
	max-width:100%;
}



.ticket_button{
	margin:10px;
	padding:3px;
	background-color:#64A836;
	width:100%;
}
.ticket_button a{
	color:white;
	letter-spacing:1px;

}

/* To make the Image to be in the center of the div box. Using it in at Lottery article Page Banner */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

}
/* includes a flag and a name of the lottery. Using it at Best Lottery page and lottery article page. */

.profile_box img{
	margin:10px;
	width:50px;
	float:left;
}


/* For FAQ Page */
.faq_box{
	width:1000px;
	max-width:100%;
	
	
}
.faq_box p{
	margin-left:5px;
	padding:5px;

}
.faq_box h5{
	margin:0px;
	font-style:italic;
	font-weight:bold;
	color:#414141;
}
/* End of FAQ Page*/


/* Using In Winner_Page*/
.lotterier_mini_list{
	max-width:100%;
	background-color:white;
	border-radius:10px;
}
.lotterier_mini_list ul{
		list-style: none;
}

.lotterier_mini_list h4{
	padding:5px;
	font-style:italic;
	font-weight:bold;
	background-color:#096BB6;
	color:white;
}
.lotterier_mini_list img{
	margin-left:10px;
	float:left;
	margin-right:10px;
}

.a_hover_box img{
	height:45px;
}

.a_hover_box ul{
	margin-bottom:0px;
}

.a_hover_box:hover{
	cursor:pointer;
	background-color:#F5F5F5;
	transform:scale(1.02);

}
.a_hover_box a{
	outline: none;
	text-decoration: none;
	color:black;
}




.list_of_links{
	margin:0px;
	padding:0px;
	border-radius:5px;
	text-align:center;
	display:block;
	font-size:17px;
	font-weight:bold;

}
.list_of_links a{
	margin:0px;

	color:#414141;
	text-decoration:none;
}

.list_of_links a:hover{
	color:grey;
}

.list_of_links h4{
	padding:5px;
	background-color:#FAFAFA;
	color:#414141;
}

/*FOR INDEX PAGE*/

.index_content{
	overflow:hidden;
	margin-left: auto;
  	margin-right: auto;
	width:1000px;
	max-width:100%;
}
.special_dot_list ul{

	list-style-type:disc;
}
/* THIS IS FOR LOTTERY_PAGE.HTML THAT I WILL TRANSFER SINGLE PAGE OF CSS*/

 .page_wrapper{
	padding:0px 10px 10px 10px;
}
.white_papper{
	background-color:#FFFF;
	padding:20px;
	border-radius:15px;
	margin-bottom:50px;
	max-height:100%;
}
/* Part Header_box at Lottery Page.*/
#logo{
	width:140px;
	max-width:100%;
}
.text_center{
	text-align:center;
}
.header_logo img{
	width:140px;
	max-width:100%;

}
/* Makes Image Center In Mobile/Ipad*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.info_content div{
	margin-top:10px;
	text-align:center;
	width:33.33%;
	float:left;
}
.info_content h6{
	font-size:18px;
	color:#414141;
}
.jackpot_box p{
	margin:5px;
	color:#414141;
}

.dragnings_box p{
	margin:5px;
	color:#414141;
}
.Jackpotodds p{
	margin:5px;
	color:#414141;
}
.clear{
	clear:both;
}
/* For White papper*/
.content_box{
	overflow:hidden;
	margin-left: auto;
  	margin-right: auto;
	width:900px;
	max-width:100%;

}
.lottery_content h4{
	margin:0px;
	font-weight:bold;
	font-style: italic;
	color:#414141;
}
.lottery_content p{
	margin-left:5px;
	color:#414141;
}
.lottery_content img{
	float:right;
}
/* For Winners in Lottery Page*/
.winner_page{
	border-radius:5px;
	background-color:white;

}
.winner_content:hover{
	cursor:pointer;
	background-color:#F5F5F5;
	transform:scale(1.02);

}
.winner_page a{
	outline: none;
	text-decoration: none;
	color:black;
}
.winner_page img{
	padding:5px;
	border-radius:10px;
	width:420px;
	height:120px;
	max-width:100%;
	max-height:100%;
}

.winner_label{
	font-style:italic;
	font-weight:bold;
	margin:10px;
	color:#DE2F48;
}

.winner_content h5{
	color:#414141;
	margin-left:10px;
	margin-bottom:0px;
	background-color:#FAFAFA;

}
.winner_content p{
	color:#414141;
	margin:0px 5px 0px 15px;
}


.list_of_links ul{
	list-style-type:none;
}
.list_of_links a{
	color:#414141;
}
/* END OF LOTTERY PAGE*/


/* For Footer Page*/
#footer{
	margin-top:200px;
	height:350px;
   	position:relative;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	background-color:#A9A9A9;
   	color: #FAFAFA;
   	text-align: center;

}

.image_box{
	margin:0px;
}
.image_box img{
	margin:0px 40px 0px 0px;
	width:200px;
}
.image_box label{
	margin-top:0px;
}
.image_box p{
	max-width:100%;
	width:1000px;
}






/* TABEL LISTA  */

table{
	width:800px;
	max-width:100%;

}
.table_headline{
	font-weight:bold;
	font-style:italic;
	color:#414141;
}

table p{
	color:#414141;
}


tbody{
	text-align:center;
}
